bucket         = "replace-me-labra-infra-dev-tfstate"
key            = "env/dev/terraform.tfstate"
region         = "us-west-2"
dynamodb_table = "labra-infra-dev-platform-terraform-locks"
encrypt        = true
